.navbar-brand{
  font-size: 27px;
  border-style: solid;
  border-color: lime;
  margin: 2px;
  padding: 5px;
}
h2{
  border-style: solid;
  border-color: lime;
}
.nav-link{
  font-size: 25px;
  border-style: solid;
  border-color: lime;
  margin: 2px;
  padding: 5px;
}
.spacer {
  height: 25px;
}
#face {
  width: 330px;
  border-radius: 50%;
  padding: 25px;

}
@media (max-width: 993px) {
  .fa-arrow-left {
    display:none;
  }
  #face {
  width: 300px;
  padding: 10px;
  border-radius: 50%;
}
 .text-v {
   display: none
 }
}
@media (min-width: 992px) {
  .fa-arrow-up {
    display: none;
  }
}
p{
  font-size:20px;
}
a p {
  color:black
}
#hive {
  height: 282px;
}
.card img {
  height:286px;
}
#footer {
  width:100%;
  background-color: gray;
}
.footer {
  color: white;
}
#unlimited-scroll {
  background-color: silver;
  height: 1500px;
}
#placeholder {
  height: 500px;
}
@media (max-width: 768px) {
  #unlimited-scroll {
    height:2200px
  }
}
